name: Build and Deploy Docker Containers

on:
  push:
    branches:
      - main  # Trigger this action when code is pushed to 'main' branch

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: saireddypadala
          POSTGRES_USER: saireddypadala
          POSTGRES_PASSWORD: Happylife@143
        ports:
          - 5432:5432

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Build with Gradle
        run: ./gradlew build

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image for Spring Boot app
        run: |
          docker build -t ghcr.io/${{ github.repository }}/goodneighbourbackend:latest .
          docker push ghcr.io/${{ github.repository }}/goodneighbourbackend:latest
      - name: Install Docker Compose  # Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install docker-compose -y

      - name: Deploy Docker Compose
        run: |
          docker-compose -f docker-compose.yml up -d
